<h1><%= title %></h1>
<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>


    <% let account = locals.accountData %>
    <% if (locals.loggedin) { %>
      <h2>Welcome <%= locals.accountData.account_firstname %></h2>
      <div class="inv-form">
        <a href="/account/edit/<%= locals.accountData.account_id %>">Manage Your Account Information</a>
      </div>
    
      <% if (account.account_type == "Employee" || account.account_type == "Admin") { %>
        <h3>Inv Management</h3>
        <div class="inv-form">
          <a href="./inv/management">Manage Inv</a>
        </div>

    <% } %>
<% } %>