<% 
if (title){ 
%>
    <h1><%= title %></h1>

<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<form class="registerform" action="/account/register" method="post">
    <div>
        <h2>All information is required</h2>
    </div>
    <div class="registerdiv">
        <label class="registerform" for="firstname">First Name</label>
        <input class="registerinput" type="text" name="account_firstname" id="firstname" placeholder="enter your first name" size="10" value="<%= locals.account_firstname %>" required/>
        
        <label class="registerform" for="lastname">Last Name</label>
        <input class="registerinput" type="text" name="account_lastname" id="lastname" placeholder="enter your last name" value="<%= locals.account_lastname %>" required/>

        <label class="registerform" for="email">Email</label>
        <input class="registerinput" type="email" name="account_email" id="email" placeholder="enter your email" value="<%= locals.account_email %>" required/>
        <div class="accountp">
            <span class="accountp">The password must contain 1 uppercase, 1 number, 1 special character, and be 12 characters long.</span>
        </div>
        <label class="registerform" for="password">Password</label>
        <input class="registerinput" type="password" name="account_password" id="password" placeholder="enter your password" value="<%= locals.account_password %>" required 
        pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"/>
    <div>
        <button class="button" type="submit">Register</button>
    </div>
    </div>
</form>