<h1><%-title%></h1>
<%-messages()%>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>


<form class="inv-add" id="updateForm" action="/inv/edit/" method="post">
    <fieldset>
        <legend>Modify Inv</legend>
            <div class="form-group">
                <select class="form-control" name="classification_id" id="classification_id" required >
                <%-classificationDropDown%>
                </select>
            </div>

    <div class="form-group">
        <label for="invMake">Make</label>
            <input type="text" class="form-control" name="inv_make" id="inv_make" placeholder="Make"
                value= "<%=locals.inv_make%>" required>
    </div>
    <div class="form-group">
        <label for="invModel">Model</label>
            <input type="text" class="form-control" name="inv_model" id="inv_model" placeholder="Model" 
                value="<%=locals.inv_model%>" required>
    </div>
    <div class="form-group">
        <label for="invYear">Year</label>
            <input type="text" class="form-control" name="inv_year" id="inv_year" placeholder="Year" 
                value="<%=locals.inv_year%>" required>
    </div>
    <div class="form-group">
        <label for="invColor">Color</label>
            <input type="text" class="form-control" name="inv_color" id="inv_color" placeholder="Color" 
                value="<%=locals.inv_color%>" required>
    </div>
    <div class="form-group">
        <label for="invMiles">Miles</label>
            <input type="number" class="form-control" name="inv_miles" id="inv_miles" placeholder="Miles" 
                value="<%=locals.inv_miles%>" required>
    </div>
    <div class="form-group">
        <label for="invPrice">Price</label>
            <input type="number" class="form-control" name="inv_price" id="inv_price" placeholder="Price" 
                value="<%=locals.inv_price%>" required>
    </div>

    <div class="form-group">
        <label for="invDescription">Description</label>
            <input type="text" class="form-control" name="inv_description" id="inv_description" placeholder="Description" 
                required>
   </div>
    <div class="form-group">
        <label for="invImage">Image</label>
            <input type="text" class="form-control" name="inv_image" id="inv_image" placeholder="image" 
                required>
    </div>
    <div class="form-group">
        <label for="invThumbnail">Thumbnail</label>
            <input type="text" class="form-control" name="inv_thumbnail" id="inv_thumbnail" placeholder="thumbnail" 
                 required>
    </div>
    <div>
        <button class="button" type="submit" disabled>Modify Vehicle</button>
    </div>

    <input type="hidden" name="inv_id"
<% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
<% } %>>

</fieldset>
</form>

<script>
const form = document.querySelector("#updateForm")
    form.addEventListener("change", function () {
      const updateBtn = document.querySelector("button")
      updateBtn.removeAttribute("disabled")
    })
</script>
